body {
    background: var(--background-color);
    margin: 0;
}

#appWrapper {
    overflow-x: clip;
    overflow-y: visible;
    position: relative;
    width: 100%;

    height: auto;
    min-height: 100svh;
    max-height: 100vh;
}

.outerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    width: 100vw;

    transition: padding 0.3s ease;
}

#mainMenu.setLeft div div,
#mainMenu.setRight div div {
    max-height: 100svh;
}

.setLeft {
    left: -100vw;
    max-height: 100vh;
    overflow: clip;
}

.setMiddle {
    left: 8px;
}

.setRight {
    left: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.sliding {
    transition: left var(--slider-speed) ease;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center-align {
    align-items: center;
}

.songColumn {
    vertical-align: top;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding-bottom: var(--body-margin-bottom); */
}

.songLyric {
    text-align: center;
    font-size: 20px;

    margin: 0;
    padding-top: 6px;
}

.songLine {
    text-align: center;
}

.songSpan {
    font-size: 20px;

    display: inline-flex;
    flex-direction: column;

    white-space: pre-wrap;

    margin: 0;
    padding-top: 6px;
}

.songText {
    margin: 0;
    text-align: left;
}

.songChord {
    margin: 0;

    height: 20px;

    display: flex;
    flex-direction: row;

    .songChordToHide {
        font-size: 17px;
        font-weight: bold;
        text-align: left;

        margin: 0;
        white-space: nowrap;
    }
}

.songLyricContainer {
    text-align: center;

    margin: 0;
    padding-top: 6px;
}

/* .songLyricChord {
    text-align: center;
    font-size: 20px;

    margin: 0;
    padding-top: 6px;

    position: absolute;
} */

/* .songLyricChordContainer {
    height: 23px;
    text-align: center;
} */

/* .repetitions {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
} */

.bold {
    font-weight: bold;
}

.blankDiv {
    padding-top: 15px;
}

.songHeader {
    text-align: center;
    font-size: 32px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 10px;
}

p {
    font-family: var(--font-family);
}

a {
    text-align: center;

    font-size: 16px;
}

.sectionDiv {
    padding-top: 15px;
}

.sansLink {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* ////////////////////////////// Main Menu ////////////////////////////// */

#mainMenu {
    padding: 40px 0 var(--body-margin-bottom) 0;
    transition: 0.3s ease; /* probably comment this? */
}

#mainMenu.sliding,
#mainMenu.setMiddle {
    overflow: visible;
}

#mainMenu:not(.sliding):not(.setMiddle) {
    height: 0 !important;
}

#mainMenu.sliding {
    transition: 0.3s ease, left var(--slider-speed) ease;
}

.mainMenuCard {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(var(--blue-pale));
    border: 2px solid rgb(var(--blue-dark));
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(var(--blue-dark) / 1);

    padding: 15px 10px 5px;
    overflow: visible;

    width: 200px;
}

.mainMenuCardAlphabetized {
    padding-top: 5px;
}

/* .mainMenuCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 -3px 16px #0073cd4d;
} */

.mainMenuCard h1 {
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.mainMenuCard div {
    width: 100%;
    height: 0;
    border: 1px solid black;
    margin-bottom: 3px;
}

.alphabetizedMenuBtn,
.mainMenuCard p {
    text-align: center;
    font-size: 20px;
    width: calc(100% - 12px);

    margin: 0;
    padding: 4px 8px;
    margin: 4px;

    border-radius: 10px;
    background-color: rgb(var(--blue-light));

    cursor: pointer;

    word-break: normal;
}

.alphabetizedMenuBtn:hover,
.mainMenuCard p:hover {
    background-color: rgb(var(--blue-medium));
}

.greenDivider {
    max-width: 180px;
    margin: 25px 0;
}

#contentDiv.sidebarPadding {
    padding-left: var(--sidebar-padding);
}

/* //////////////////////////////// Footer /////////////////////////////// */

#footer {
    position: fixed;
    bottom: calc(0px - var(--footer-height));
    left: 0;
    width: 100vw;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    height: var(--footer-height);

    transition: bottom 0.3s ease;

    box-sizing: border-box;
    padding: 12px 16px;

    background-color: rgb(var(--blue-dark));
    border-top: 3px solid black;
    /* border: 3px solid black; */
    /* border-bottom: none; */
    /* border-top-left-radius: 40px; */
    /* border-top-right-radius: 40px; */

    display: flex;
    justify-content: center;
    gap: 12px;
}

#footer.open {
    bottom: 0;
}

.footerBtn {
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(var(--blue-medium));

    font-size: 20px;

    cursor: pointer;

    width: 100px;
}

.footerBtn:hover {
    background: rgb(var(--blue-dark));
}

/* ////////////////////////// Position Indicator ///////////////////////// */

#positionIndicator {
    position: fixed;
    transition: bottom 0.2s ease;

    bottom: -5vh;
    margin: 0;

    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    display: flex;
    flex-direction: row;
}

#positionIndicator.open {
    bottom: var(--footer-height);
}

#positionIndicatorDiv {
    display: flex;
    flex-direction: row;
}

.positionIndicatorCircle {
    margin: 0;

    width: 30px;
    height: auto;
    aspect-ratio: 1;
    font-size: 32px;

    cursor: default;
}

.positionIndicatorCircle.empty {
    cursor: pointer;
}

.positionIndicatorCircle.empty:hover {
    background: var(--gray-light);
}

.positionIndicatorCircle.left {
    padding-bottom: 2px;
    border-top-left-radius: 15px;
}

.positionIndicatorCircle.right {
    padding-bottom: 2px;
    border-top-right-radius: 15px;
}

/* /////////////////////////////// Sidebar /////////////////////////////// */

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    width: var(--sidebar-width);
    padding-left: 0;

    background: rgb(var(--blue-light));
    z-index: 100;

    transform: translateX(var(--negative-sidebar-width));
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#sidebar::-webkit-scrollbar {
    width: 10px;
}

#sidebar::-webkit-scrollbar-track {
    background: rgb(var(--blue-light));
}

#sidebar::-webkit-scrollbar-thumb {
    background: rgb(var(--blue-pale));
    border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--blue-medium));
}

#sidebar.open {
    transform: translateX(0);
}

.sidebarDiv {
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
}

#sidebarPlaylistViewer {
    flex: 1 0 auto;
    min-height: 0;

    align-items: center;

    padding-top: 20px;
    padding-bottom: var(--sidebar-middle-padding);
    transition: 0.3s ease-out;
}

#sidebarPlaylistViewer.open {
    padding-bottom: var(--sidebar-middle-padding-edit);
}

#sidebarPlaylistViewerOverflow {
    overflow: hidden;
    border: 3px solid black;
    border-radius: 12px;
    width: 100%;
}

#sidebarBottom {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sidebarBottomSpacer {
    height: 15px;
    /* Could potentially overlap this div with the createBlankDiv() function */
}

.sidebarBtnVertical {
    background: red;
}

.checkbox {
    font-size: 18px;
    font-family: var(--font-family);

    position: relative;
    display: flex;
    align-items: center;

    margin-top: 5px;
    left: var(--negative-sidebar-width);
    transition: left 0.3s ease;

    input {
        appearance: none;

        width: calc(5 * var(--checkbox-scalar));
        height: calc(5 * var(--checkbox-scalar));

        border: 3px solid rgb(var(--blue-dark));
        border-radius: 7px;

        /* accent-color: red; */
        background: rgb(var(--blue-pale));

        cursor: pointer;
    }

    span {
        width: var(--checkbox-scalar);
        height: calc(2 * var(--checkbox-scalar));

        position: absolute;
        left: calc(2.5 * var(--checkbox-scalar));
        transform: translateY(-1px) rotate(45deg);

        border-right: 2px solid black;
        border-bottom: 2px solid black;

        pointer-events: none;
    }
    
    input:not(:checked) + span {
        display: none;
    }
}

.checkbox.open {
    left: 0vw;
}

.sidebarBtn {
    width: calc(var(--sidebar-width-no-padding) * 0.8);
    text-align: center;

    margin-top: 15px;
    padding: 0;

    border: 2px solid black;
    border-radius: 10px;
    background: rgb(var(--blue-medium));

    font-size: 20px;

    cursor: pointer;
}

.sidebarBtn.moving {
    position: absolute;
    left: var(--negative-sidebar-width);
    transition: left 0.3s ease;
}

.sidebarBtn.moving.open {
    left: calc(var(--sidebar-width-no-padding) * 0.1 + 10px - var(--sidebar-scrollbar-offset));
}

.sidebarBtnVertical {
    height: 42px;
}

.sidebarBtn:not(:disabled):hover {
    background: rgb(var(--blue-light));
}

.sidebarBtn:disabled {
    background: rgb(var(--blue-light));
    color: var(--gray-medium);
    cursor: not-allowed;
}

.sidebarText {
    font-size: 32px;
    color: black;

    text-align: center;

    margin: 0;
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

#sidebarPlaylistHowTo {
    position: absolute;
    width: calc(var(--sidebar-width-no-padding) * 0.8);

    left: var(--negative-sidebar-width);
    transition: left 0.3s ease;

    font-size: 24px;
    text-align: center;

    margin-bottom: 0;
}

#sidebarPlaylistHowTo.open {
    left: calc(var(--sidebar-width-no-padding) * 0.1 + 10px);
}

#sidebarShadow {
    position: fixed;

    height: 100vh;
    width: 20vw;
    top: 0;
    left: -20vw;

    z-index: 50;

    transition: left 0.3s ease;
}

#sidebarShadow.open {
    left: 0;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.6);
}

/* Toggle button */
#sidebarToggleBtn {
    position: fixed;
    top: 0;
    left: -1px;

    background: rgb(var(--blue-light));
    border: none;
    border-bottom-right-radius: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);

    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: none;

    cursor: pointer;

    transition: transform 0.3s ease;
    z-index: 75;
}

#sidebarToggleBtn.open {
    transform: translateX(var(--sidebar-width));
}

#sidebarToggleBtn img {
    display: block;
    width: 35px;
    height: auto;
}

.sidebarOverlay {
    position: fixed;
    top: 20vh;
    left: calc(-20px - var(--sidebar-width-no-padding));

    width: calc(var(--sidebar-width-no-padding) - 10px);
    height: 60vh;

    padding: 0 5px;

    background: rgb(var(--blue-medium));
    z-index: 200;

    border: 3px solid black;
    border-radius: 12px;

    /* Todo: add this padding without making the box overflow on thin pc screens */
    /* padding-left: 10px; */
    /* padding-right: 10px; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: left 0.25s ease;
}

.sidebarOverlay.open {
    left: 7px;
}

.sidebarBtn.highlighted {
    color: rgb(var(--gold));
    border-color: rgb(var(--gold));
    box-shadow: 0 0 10px rgba(var(--gold) / 0.6);
    background-color: rgb(var(--blue-light));
    font-weight: bold;
}

/* Stuff regarding playlistViewer */

#playlistViewerIntro {
    padding-bottom: 4px;
}

.playlistViewerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    min-height: 52px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;

    border: 3px solid rgb(var(--blue-light));
}

.playlistViewerRow.alternating {
    background: rgb(var(--blue-pale));
    border-color: rgb(var(--blue-pale));
}

.playlistViewerRow.edit {
    padding-right: 0;
    cursor: grab;
}

.playlistViewerRow.edit:active {
    cursor: grabbing;
}

.playlistViewerRow p {
    font-size: 22px;
    color: black;

    width: 100%;
    margin: 0;
}

.playlistViewerRow.edit p {
    width: calc(100% - min(20%, 50px));
}

.playlistViewerRow button {
    width: 40px;
    height: 40px;
    margin: 0 calc(min(10% - 20px, 5px));

    padding: 0;
    background: none;
    border: none;
    border-radius: 100%;

    cursor: pointer;

    display: none;
}

.playlistViewerRow.edit button {
    display: block;
}

.playlistViewerRow button:hover {
    background: #b2b2b2;
}

.playlistViewerRow img {
    max-width: 50%;
    aspect-ratio: 1 / 1;
    max-height: 20px;
}

.playlistViewerRow.dragging {
    border-color: var(--gold);
}

.playlistViewerRow.dragging p {
    opacity: 0;
}

.playlistViewerRow.ghost {
    position: absolute;
    left: -1000vw;

    width: calc(var(--sidebar-width-no-padding) - 9px);
    /* Shouldn't be using --sidebar-width-no-padding */
    border-color: rgb(var(--blue-dark));

    background: rgb(var(--blue-dark));
}

.playlistViewerRow.ghost p {
    opacity: 1;
}

/* ///////////////////// Leave at bottom of CSS page ///////////////////// */

@media (max-width: 599px) {
    :root {
        --sidebar-width: calc(100vw - 58px);
        --sidebar-padding: 0;
    }

    .pc {
        display: none;
    }

    .songHeader {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 600px) {
    :root {
        --sidebar-width: 20vw;
        --sidebar-padding: calc(var(--sidebar-width) / 2);
    }
}

:root {
    /* Colors */
    --blue-pale: 187 214 255;
    --blue-light: 143 192 255;
    --blue-medium: 70 167 255;
    --blue-dark: 0 115 205;

    --white-off: #f0f0f0;
    --gray-light: #e0e0e0;
    --gray-medium: #565656;
    --gold: 255 215 0;

    --background-color: #f2f4f7;

    /* Positioning */
    --negative-sidebar-width: calc(0px - var(--sidebar-width));
    --sidebar-width-no-padding: calc(var(--sidebar-width) - 20px);

    --footer-height: 10svh;
    --body-margin-bottom: calc(var(--footer-height) + 25px);

    /* Set using JavaScript */
    --sidebar-middle-padding: 0;
    --sidebar-middle-padding-edit: 0;
    --sidebar-scrollbar-offset: 0px;

    --font-family: Arial, Helvetica, sans-serif;

    --checkbox-scalar: 5.5px;

    --slider-speed: 0.65s; /* Set to 0 with JavaScript to disable sliding / make things teleport around more */
}

.hide {
    display: none;
}

.doubleHide {
    display: none;
}

.dragHide {
    height: 0;
}

.checkbox-toggle-hide {
    display: none
        /* Comment this section to show checkboxes for testing purposes */
}

.sidebarPadding {
    padding-left: var(--sidebar-padding) !important;
}

.noPadding {
    padding: 0;
}

.fadesWithChords {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade {
    opacity: 0;
}

.shrinksWithChords {
    transition: height 0.45s ease;
}

.shrink {
    height: 0;
}